@import '~adamo-components/src/assets/styles/colors.scss';

// .modal-card-head {
//   background-color: $medium-blue !important;
// }
// .modal-card-body {
//   background-color: $light-gray;
// }
.carousel-indicator.is-inside.is-bottom {
  top: 405px;
}
.carousel-arrow .icon {
  background: none;
  border: none;
  font-size: 24px;
}
.carousel-arrow .icon:hover {
  border: none;
}
.carousel-arrow .icon.has-icons-left {
  left: 0.5rem;
}
.carousel-arrow .icon.has-icons-right {
  right: 0.5rem;
}
.icon.has-icons-left, .icon.has-icons-right {
  color: $medium-blue;
}
.column-left {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
.column-right {
  width: 230px;
  height: 400px;
  background:$list-gray;
  border-radius: 10px;
}
.input-text-centered .input {
  text-align: center;
}
// .is-adamo-input.has-icons-left .icon.is-left {
//   top: 1px;
//   left: 5px;
// }
.carousel-indicator.is-inside.is-bottom {
  margin-top: 5px;
}
