.card-menu-user {
  width: 333px;
  height: auto;
  margin-bottom: 15px;
}
.my-icon {
  width: 59.97px;
  height: 60px;
}
.dropdown-icon {
  width: 59px !important;
  height: 60px !important;
}
.label-app {
  width: 230px;
  height: 30px;
  border-radius: 15px;
}
// .menu-list {
//   border-top: 2px solid #EDEDED;
// }
.menu-list .menu-list-item {
  margin-top: 10px;
  padding-left: 25%;
}
.dropdown-content {
  border-radius: 10px !important;
}
